html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-color: aliceblue;
    margin: 0 auto;
    font-family: "open sans", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    width: 1920px;
    height: 160px;
    border-bottom: solid #BF0000 3px;
    padding: 13px 69px 13px 74px;
    gap: 20px;
    background-color: #FFFFF6;
    z-index: 999;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navLinks>ul>li {
    display: inline-block;
    margin: 10px;
}

.navLinks>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2F2F2F;
    font-weight: 800;
    font-size: 15px;
    display: inline-block;
}

.navLinks>ul>li>a::after {
    content: '';
    display: flex;
    background-color: #BF0000;
    height: 3px;
    width: 0;
    transition: 1s ease;
}

.navLinks>ul>li>a:hover::after {
    width: 100%;
}


.navLinks>ul>li:not(.active-list):hover {
    transform: translate(0, -5px);
}


.active::after {
    content: '';
    display: block;
    background-color: #BF0000;
    height: 3px;
    width: 100%;
}

.active {
    position: relative;
    top: -5px;
}

.Search {
    float: right;
    padding: 15px 40px 15px 0px;
    position: relative;
}

.Search input {
    background: #252525;
    font-size: 1.5em;
    font-weight: 300;
    height: 20px;
    position: relative;
    text-indent: 46px;
    width: 45px;
    border: none;
    transition: width 1s;
}

::-webkit-input-placeholder {
    color: #fff;
    box-shadow: 45px 1px 0 0 #fff;
}

.Search input:hover,
.Search input:active,
.Search input:focus {
    font-size: 1.6em;
    font-weight: 300;
    height: 50px;
    position: relative;
    text-indent: 46px;
    width: 450px;
    border-bottom: #fff solid 1px;
    transition: width 1s;
}

.Search .icon {
    color: #fff;
    font-size: 1.6em;
    height: 50px;
    width: 45px;
    left: 10px;
    position: absolute;
    top: 30px;
    z-index: 1;
}

/*Слика за hero секцијата*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/DSC_0068\ 2.png);
    min-width: 1920px;
    min-height: 492px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-image h1 {
    color: #FFFFF6;
    font-weight: 700;
    line-height: 87px;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Слика за hero секцијата*/


/*Контентот за hero-content секцијата започнува тука. Сите текстови и слики, под hero сликата*/
.hero-content {
    margin: 20px auto;
    width: 80%;
    max-width: 1920px;
    padding-bottom: 80px;
}

/*Најпрвиот параграф од hero секцијата*/
.Main-paragraph {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
}

/*Најпрвиот параграф од hero секцијата*/


/* "box"  содржи параграф и слика. Десно слика лево параграф и обратно*/

.box {
    display: flex;
    justify-content: space-between;
}

/* "box"  содржи параграф и слика. Десно слика лево параграф и обратно*/

/*Првиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/
.first img {
    max-width: 579px;
    max-height: 313px;
    float: right;
}

.first p {
    font-size: 16px;
    font-weight: 600;
    line-height: 29.79px;
    border: 2px solid #BF0000;
    padding: 20px;
    border-radius: 15px;
    max-width: 831px;
}

.first h1 {
    border: 2px solid #BF0000;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    max-width: 581px;
}

/*Првиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/

/*Вториот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/
.second img {
    max-width: 594px;
    max-height: 339px;
}

.second p {
    font-weight: 600;
    font-size: 16px;
    line-height: 29.79px;
    border: 2px solid #BF0000;
    padding: 20px;
    border-radius: 15px;
    max-width: 831px;
}

/*Вториот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/

/*Третиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/
.third img {
    max-width: 594px;
    max-height: 339px;
}

.third p {
    font-weight: 600;
    font-size: 16px;
    line-height: 29.79px;
    border: 2px solid #BF0000;
    padding: 20px;
    border-radius: 15px;
    max-width: 831px;
}

/*Третиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/

/*Четвртиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/
.fourth img {
    max-width: 580px;
    max-height: 328px;
}

.fourth h1 {
    max-width: 832px;
    font-size: 24px;
    margin-left: 30px;
    border: 2px solid #BF0000;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.fourth p {
    font-weight: 600;
    font-size: 16px;
    line-height: 29.79px;
    border: 2px solid #BF0000;
    padding: 20px;
    border-radius: 15px;
    max-width: 831px;
}

/*Четвртиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/


/*--Наслов што е на средина и што има црвена линија испод него-->*/
h1 {
    text-align: center;
    padding-top: 30px;
}

span::after {
    content: '';
    display: block;
    background-color: #BF0000;
    height: 5px;
    width: 13%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 10px;
}

/*--Наслов што е на средина и што има црвена линија испод него-->*/

/*Петтиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/
.fifth img {
    min-height: 407px;
    min-width: 741px;
}

.fifth p {
    font-size: 16px;
    font-weight: 600;
    line-height: 29.79px;
    margin-right: 50px;
    border: 2px solid #BF0000;
    padding: 20px;
    border-radius: 15px;
    max-width: 831px;
}

/*Петтиот "box div" што содржи параграф и слика. Десно слика лево параграф и обратно*/

/*Контентот за hero-content секцијата започнува тука. Сите текстови и слики, под hero сликата*/