body {
    background: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

}

.page-title {
    color: #2F2F2F;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    align-self: center;
    font-feature-settings: 'liga' off;
    border-bottom: #BF0000 solid 3px;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
}

main articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.card-thumb {
    object-fit: cover;
    max-height: 200%
}

.cooperative-cooperation-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 28%;
    margin: 2%;
    background: #FFFFFF;
    /* Bottom Red */
    border: 3px solid #BF0000;
    border-radius: 10px;
    min-width: 300px;


}

.cooperative-cooperation-article img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    max-height: 614px;
    overflow: hidden;

}

.cooperative-cooperation-article h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #2F2F2F;
    padding: 10px 10px;
    min-height: 3.2em;
}

.cooperative-cooperation-article p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;

    color: #2F2F2F;
    padding: 10px 10px;

    min-height: 4.2em;
}

.cooperative-cooperation-article>.more {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #BF0000;
    padding: 10px 10px;
    align-self: flex-end;
    justify-self: flex-end;
}

/* Повеќе линкче */
.more,
a {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #bf0000;
}

.more:active,
.more>a:active,
.more:hover,
.more>a:hover {
    color: #2F2F2F;
}