@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "open sans", sans-serif;
}



/*Контејнер што ги содржи акотдионите*/
#myaccordion {
  width: 80%;
  margin: 20px auto;
  background: white;
}

.accordion-tab {
  color: white;
  background: #920000;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 107px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 15px;
}

.accordion-tab h2 {
  font-size: 40px;
  margin: 0;
}



.accordion-content {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 90%;
}

.accordion-content a {
  list-style: none;
  font-size: 20px;
  color: #2F2F2F;
  text-decoration: none;
  font-weight: 600;
}

.test {
  background: transparent;
  border: 5px solid #920000;
  border-radius: 15px;
  color: #BF0000;
}

/*Контејнер што ги содржи акотдионите*/


.hero img {
  background-size: cover;
  background-position: center;
  width: 100%;
}